.common {
    margin-top: 200px;
}

.skills {
    
}

.bigScreen {
    color:black;
    max-width: 1400px;
    margin: auto;
    text-align: justify;
}

.laptopL {
    
}

.laptop {
    
}

.mobile {
    
}