.bg{
    background-image: url("../assets/bg5.png");
    height: 100%;
    width: 100%;
    position: fixed;
}

.texts{
    position: relative;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    -webkit-box-shadow: 8px 8px 20px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 20px -12px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 20px -12px rgba(66, 68, 90, 1);
  }

.bigScreen, .laptopL, .laptop, .mobile, .bigScreenShort {
    color:black;
    max-width: 94%;
    margin: auto;
    text-align: justify;
    font-size: 16px;
}

.bigScreenShort {
    font-size: 13px;
}
.mobile {
    font-size: 11px;
}

.programmingImg {
    display: block;
    width: 44%;
    height: auto;  
    position: absolute;
    right: 10%;
    bottom: 0px;
    border-radius: 10px;
    opacity: 0.6;
}