.info {
    color: #ffb303;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    line-height: 1;
    text-align: center;
}

.texts {
    width: 100%;
    margin-top: 16%;
  }