#welcome {
    color: #ffb303;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48pt;
    margin: 10% 4% 2% 10%;
    width: 42%;
    padding: 0;
}

#info {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48pt;
    margin: 0% 4% 2% 10%;
    width: 42%;
}