.avatar1 {
  width: 250px;
  display: block;
  height: auto;  
  position: absolute;
  right: 0px;
  top: 25%;
}

.avatar2 {
  width: 250px;
  display: block;
  height: auto;  
  position: absolute;
  right: 22%;
  bottom: 0%;
}