.scrollDownButton {
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: 0%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.scrollUpButton {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 7%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}